
@using Travel.Models.Account
@model Travel.Models.UserModel.CreateUserViewModel
@{
    ViewData["Title"] = "افزودن کاربر";
    List<Role> Roles = ViewData["Roles"] as List<Role>;
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">ایجاد کاربر</h1>
    </div>
</div>

<div class="row">
    <form method="post" asp-action="CreateUser" asp-controller="User"  enctype="multipart/form-data">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    اطلاعات کاربر
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="form-group">
                        <label>نام کاربری</label>
                        <input type="text" asp-for="@Model.UserName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>ایمیل</label>
                        <input type="email" asp-for="@Model.Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>کلمه عبور</label>
                        <input type="text" asp-for="@Model.Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>انتخاب نقش کاربر</label>
                        @foreach (var item in Roles)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="SelectedRoles" value="@item.RoleId">@item.RoleTitle
                                </label>
                            </div>
                        }
                    </div>
                    <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    تصویر پروفایل
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <img id="imgAvatar" class="thumbnail" src="/dist/img/avatar3.png" />
                    <div class="form-group">
                        <label>انتخاب تصویر</label>
                        <input type="file" asp-for="@Model.UserAvatar">
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>

        </div>

    </form>
</div>

@section Scripts
{


    <script>
        // برای اینکه به محض تغییر عکس در وب دیده شود این قطعه کد نوشته شده است
        //preview image befor upload jquery
        function readURL(input) {
            debugger;
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#UserAvatar").change(function () {
            readURL(this);
        });
    </script>
}