@model Travel.ViewModel.TravelVM


<h4>TravelVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index"> <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           

            <div>
                @*//@Html.DropDownListFor(x=>x.Invoice.BimekindName,Model.Invoice.BimekindName.Select())*@
                <select class="form-control select2">
                    @foreach (var item in Model.Invoice.BimekindName)
                    {
                        <option value="@item.BimekindId">@item.BimekindName</option>
                    }
                </select>
            </div>


            <div>
                @*//@Html.DropDownListFor(x=>x.Invoice.BimekindName,Model.Invoice.BimekindName.Select())*@
                <select class="form-control select2">
                    @foreach (var item in Model.Invoice.BimekindName)
                    {
                        <option value="@item.BimekindId">@item.BimekindName</option>
                    }
                </select>
            </div>
            <div>
                @*//@Html.DropDownListFor(x=>x.Invoice.BimekindName,Model.Invoice.BimekindName.Select())*@
                <select class="form-control select2">
                    @foreach (var item in Model.Invoice.BimekindName)
                    {
                        <option value="@item.BimekindId">@item.BimekindName</option>
                    }
                </select>
            </div>
            <div>
                @*//@Html.DropDownListFor(x=>x.Invoice.BimekindName,Model.Invoice.BimekindName.Select())*@
                <select class="form-control select2">

                    @foreach (var item in Model.Invoice.BimekindName)
                    {
                        var selected = "";
                        if (item.BimekindId == 32)
                        {
                            selected = "selected='selected'";
                        }
                        <option selected value="@item.BimekindId">@item.BimekindName</option>
                    }
                </select>
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });

    </script>
}